<!DOCTYPE html>
<html>
  <head>
    <title>run</title>
  </head>
  <body>
<pre>
rdc home

<a href="https://www.strava.com/oauth/authorize?client_id=<%= clientId %>&response_type=code&approval_prompt=force&redirect_uri=http://run.dupoy.com/authorized">login</a>
</pre>
  </body>
</html>

