<!DOCTYPE html>
<html>
  <head>
    <title>Run Analyser</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css"></link>
    <script src='/scripts/jquery-2.1.1.min.js'></script>
    <script src='/scripts/menu.js'></script>
  </head>
  <body>
    <div class='main'>
      <div class='banner'>
        <header class='bannerEdge'>
          Run Analyser
        </header>
        <nav>
          <ul>
            <li class='bannerEdge'></li>
            <li class='bannerEdge navLink'><a class='nav' href='https://www.strava.com/oauth/authorize?client_id=<%= clientId %>&response_type=code&redirect_uri=http://run.dupoy.com/authorized'>Sign In</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>

