<!DOCTYPE html>
<html>

  <head>
    <title>run</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css"></link>
    <script>
      var guid = "<%= guid %>";
    </script>
    <script src='/scripts/jquery-2.1.1.min.js'></script>
    <script src='/scripts/jquery.mustache.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/socket-client.js'></script>
  </head>

  <body>
    <div class='main'>

      <div class='banner'>
        <header class='bannerEdge'>
          Run Analyser
        </header>
        <nav>
          <ul>
            <li class='bannerEdge'></li>
            <li class='bannerEdge navLink navSelected'>Rankings</li>
            <li class='bannerEdge navLink'>Runs</li>
            <li class='bannerEdge navLink'><a class='nav' href='/logout'>Sign Out</a></li>
          </ul>
        </nav>
      </div>

      <div class='content'>
        <div id='distances' class='distances'>
        </div>
      </div>

    </div>

<!--
id:           <%= athleteId %>
first name:   <%= firstName %>
last name:    <%= lastName %>
-->

<pre id='log'></pre>

    <!-- templates -->
    <script id='distancesTemplate' type='text/html'>
      <div id='distances' class='distances'>
        <div class='sectionHeader'>
          Distances
        </div>
        {{#distances}}
          <div class='distance'>
            {{name}}
          </div>
        {{/distances}}
      </div>
    </script>

  </body>
</html>

