<!DOCTYPE html>
<html>
  <head>
    <title>run</title>
    <script src='/scripts/jquery-2.1.1.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/socket-client.js'></script>
  </head>
  <body>
<pre id='content'>
rdc landing

<a href='/logout'>logout</a>

access_token: <%= access_token %>
id:           <%= id %>
first name:   <%= firstname %>
last name:    <%= lastname %>

<a id='socket' href='#'>socket</a>
</pre><pre id='log'>
</pre>
  </body>
</html>

